<html>
  <head>
  	 Welcome to Web Guesser!
  </head>
  <body><body style='background: green'>
    <p>
      What is the secret number? 
      <p>
      	<strong><%= guess%>
      <p>
    </p>
  </body>
</html>

<form>
  <input type='text' name='guess' />
  <input type='submit' value='Guess!' />
</form>